div {
    width: 98px;
    height: 382px;
    transform: rotate(90deg);
    flex-shrink: 0;

}

p {
    color: var(--blue-primary-500, #0054A6);
    text-align: center;
    font-family: Philosopher;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
}