.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    /* height: 3629px; */
}

.section03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1520px;
    height: 892px;
    background: rgba(78, 149, 219, 0.70);
    backdrop-filter: blur(7.5px);
}

.section03-title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section03-line {
    width: 130px;
    height: 6px;
    border-radius: 100px;
    background: var(--blue-primary-600, #003F7D);
}

.section03-text01 {
    color: var(--white, #FFF);
    text-align: center;
    /* Roboto/20px: Medium */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section03-text02 {
    color: var(--blue-primary-600, #003F7D);
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Philosopher;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section03-text03 {
    color: var(--gray-gray-50, #FFF);
    /* Roboto/20px: Regular */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section03-card {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.section03-button {
    display: inline-flex;

    align-items: center;
    width: 202px;
    height: 44px;
    padding: 0px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--blue-primary-500, #0054A6);
    /* Style */
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section04-text01 {
    color: var(--gray-gray-600, #4D4D4D);
    text-align: center;
    /* Roboto/20px: Medium */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section04-text03 {
    color: var(--gray-gray-600, #4D4D4D);

    /* Roboto/20px: Regular */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
