.custom-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card img {
    color: var(--gray-gray-400, #858585);

/* Roboto/14px: Regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.custom-meta {
    margin-bottom: 10px;
}

.custom-content {
    padding: 10px;
}

.custom-title {
    color: var(--gray-gray-400, #858585);

/* Roboto/14px: Regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.custom-tags {
    margin-bottom: 10px;
}

.custom-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #888;
}

.custom-views {
    margin-right: 10px;
}

.custom-card img {
    width: 265px;
    height: 146px;
    flex-shrink: 0;
}